body {
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 2em;;
  text-align: center;
  width: 30em;
  margin: auto;
  margin-top: .5em;
  margin-bottom: .5em;
}

table {
  width: 100%;
  margin-top: 20px;
  margin: auto;
}

th, td {
  text-align: center;
  padding: .5em;
  border: 3px solid black;
}

th {
  font-weight: bold;
}

tr:nth-of-type(2n) {
  background-color: rgb(255, 218, 227)
}

tr:hover {
  background-color: rgb(221, 219, 125)
}

tfoot {
  background-color: rgb(231, 230, 184)
}