h1 {
  font-size: 2em;;
  text-align: center;
  width: 30em;
  margin-top: 2em;
  border-bottom: .1em solid black;
  margin: auto;
  margin-top: 2em;
}

table {
  margin-top: 20px;
  margin: auto;
}

th, td {
  text-align: center;
  padding: .5em;
  border: 3px solid black;
}

th {
  font-weight: bold;
}

tr:nth-of-type(2n) {
  background-color: rgba(170, 118, 131, 0.404)
}