* {
  color: white;
}
#logoText {
  color: white;
  width: 7em;
  text-align: center;
  font-size: 3em;
  position: relative;
  bottom: 4em;
  left: 5em;
  padding: .5em;
  border: 1px solid white;
  margin: 0;
}

#row {
  width: 20em;
  margin:auto;
  font-size: 3em;
}

.col {
  text-align: center;
  display: inline-block;
}

#hours {
  max-width: 15em;
  display: block;
}


body {
  font-family: 'Loved by the King', cursive;
  background-image: url('../img/wood.jpg');
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

#salmon {
  box-shadow: 20px 20px 18px -5px rgba(0,0,0,0.5);
  padding: 10px;
  background-image: url("../img/weathered.jpg");
  background-size: 100%;
  border: 15px solid rgb(70, 1, 1);
}