


h1 {
  font-size: 2em;
  text-align: center;
  width: 30em;
  margin-top: 2em;
  border-bottom: .1em solid black;
  margin: auto;
}

body {
  margin: auto;
}


p {
  display: inline-block;
  border: 1px solid black;
  padding: .2em;
  margin: 1em;
}

ul {
  text-align: center;
  font-size: 24px;
}

#finalTotal {
  text-align: center;
  width: 30em;
  margin: auto;
}