/* background-color: rgb(70, 1, 1);
box-shadow: 20px 20px 18px -5px rgba(0,0,0,0.5); */

* {
  color: rgb(232, 210, 183);
}

body {
  font-size: 30px;
  font-family: 'Loved by the King', cursive;
  max-width: 100%;
  min-width: 23em;
  background-image: url('../img/wood.jpg');
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: 100%;
  margin: auto;
}

header {
  font-size: 1em;
  height: 3em;
  width: 100%;
  min-width: 23em;
  position: fixed;
  top: 0;
  margin-top: 0;
  background: linear-gradient(150deg, rgba(255, 255, 255, .1), rgba(0, 0, 0, .5));
  background-color: rgb(70, 1 , 1);
  box-shadow: 20px 20px 18px -5px rgba(0,0,0,0.5);
}

nav {
  font-size: 1em;
  width: 100%;
}

#logoText {
  display: inline-block;
  border: 4px solid rgb(54, 55, 36);
  padding: .3em;
  margin: .5em 0 .5em 1em;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5)
}

nav ul {
  min-width: 14em;
  vertical-align: top;
  line-height: 3em;
  float: right;
}

nav li {
  display: inline-block;
  padding: 0 1em 0 1em;
}

#splashImage {
  max-width: 25em;
  background-image: url("../img/weathered.jpg");
  background-size: 100%;
  padding: .5em;
  border: .5em solid rgb(54, 55, 36);
  margin: auto;
  margin-top: 4.5em;
  margin-bottom: .75em;
  box-shadow: 20px 20px 18px -5px rgba(0,0,0,0.5);
}

#salmon {
  display: block;
  margin: auto;
  max-width: 22em;
}

blockquote {
  max-width: 22em;
  background: linear-gradient(150deg, rgba(255, 255, 255, .1), rgba(0, 0, 0, .5));
  background-color: rgb(149, 95, 47);
  padding: .5em;
  border: .3em solid rgb(149, 95, 47);
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 20px 20px 18px -5px rgba(0,0,0,0.5);
}

blockquote p {
  text-indent: 1em;
  max-width: 17em;
  font-size: .8em;
  text-align: center;
  margin: auto;
}

#locationBlock {
  width: 100%;
  height: 63em;
  background: linear-gradient(150deg, rgba(255, 255, 255, .1), rgba(0, 0, 0, .5));
  background-color: rgb(70, 1 , 1);
  box-shadow: 20px 20px 18px -5px rgba(0,0,0,0.5);
}

#locationBlock ul {
  width: 100%;
}

#locationBlock li {
  width: 30em;
  display: block;
  padding-top: 2em;
  margin: auto;
  
}

#locationBlock li img {
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5)
}

.description {
  text-align: center;
  vertical-align: top;
  padding-top: 2em;
  display: inline-block;
  width: 19em;
  margin: auto;
}

.description h2 {
  border-bottom: .2em solid rgb(149, 95, 47);
  font-size: 1.25em;
  line-height: .5em;
}

.descrption p {
  padding-top: .5em;
}





















footer {
  font-size: .6em;
  line-height: 1.2em;
  text-align: center;
  padding: 1em;
  margin-top: 20em;
}